.search{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.search--top{
  justify-content: top;
  align-items: top;
}

.search--center{
  justify-content: center;
  align-items: center;
  height: 100vh;
}


